# SERVER & RED
SERVER_IP=

# POSTGRESQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# BACKEND API
API_PORT=3001
DOCKER_SOCKET_PATH=/var/run/docker.sock
N8N_WEBHOOK_URL=http://sysops-n8n:5678/webhook/container-alert

# FRONTEND
NEXT_PUBLIC_API_URL=